.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .title {
    margin: 0 auto;
    line-height: 0.9;
    font-size: medium;
    color: #fafafa;
    text-decoration: none;
    background-color: #2f53c0;
    text-align: center;
    margin-top: 7.5px;
  }
  
  .header {
    width: 100%;
    height: 75px;
    background-color: #2f53c0;
    justify-content: space-around;
    color: #fff;
    transition: 0.2s;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
  }
  